{{ define "main" }}

<article class="page type-page status-publish hentry">
	<header class="entry-header has-text-align-center header-footer-group">
		<div class="entry-header-inner section-inner medium">
			<h1 class="entry-title">{{ .Title }}</h1>
		</div><!-- .entry-header-inner -->
	</header><!-- .entry-header -->

	<link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css" rel="stylesheet" type="text/css"></style>

	<div class="post-inner thin">
		<div class="entry-content">
			{{ .Content }}
			<div class="wp-block-columns columns alignwide">
				{{ range $slug, $data := (.Site.Data.planners ) }}
					<div class="column">
						<div class="wp-block-group">
							{{ $plannerURL := print "/planners/" $slug }}
							<a href="{{ $plannerURL | absURL }}">
								<h3>{{.title}}</h3>
								<div class="slides-container">
									{{ range first 1 .images }}
												<img src="{{ . }}">
									{{ end }}
								</div>
							</a>
						</div>
						<p>{{.description}}</p>
				</div>
				{{end}}
			</div>
			</div>
		</div><!-- .entry-content -->
	</div><!-- .post-inner -->
</article><!-- .post -->
{{ end }}