{{ define "main" }}

<article class="page type-page status-publish hentry">
	<header class="entry-header has-text-align-center header-footer-group">
		<div class="entry-header-inner section-inner medium">
			<h1 class="entry-title">{{ .Title }}</h1>
		</div><!-- .entry-header-inner -->
	</header><!-- .entry-header -->

	<link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css" rel="stylesheet" type="text/css"></style>

	<div class="">
		<div class="entry-content">
			{{ .Content }}
			<div class="wp-block-columns columns alignwide">
				{{ range .Pages }}
					<div class="column">
						<div class="wp-block-group">
							<a href="{{ .Permalink }}">
								<h3>{{.Title}}</h3>
								<div class="slides-container">
									<img src="{{ .Params.featured_photo }}">
								</div>
							</a>
						</div>
						<p>{{.Params.short_description}}</p>
				</div>
				{{end}}
			</div>
			</div>
		</div><!-- .entry-content -->
	</div><!-- .post-inner -->
</article><!-- .post -->
{{ end }}