{{ define "main" }}

<article class="page type-page status-publish hentry">
	<header class="entry-header has-text-align-center header-footer-group">
		<div class="entry-header-inner section-inner medium">
			<h1 class="entry-title">{{ .Title }}</h1>
		</div><!-- .entry-header-inner -->
	</header><!-- .entry-header -->

	<div class="post-inner thin">
		<div class="entry-content">
			<div class="wp-block-columns columns alignwide" style="margin-top: 0;">
						<div class="column">
							<div class="wp-block-group">
									<img src="{{ .Params.featured_photo }}" alt="Product shot of planner">
							</div>
							<a class="heading-size-4" href="{{ .Params.amazon_link }}">Order on Amazon</a>
						</div>
				<div class="column">
					<div class="wp-block-group">
						{{ .Params.long_description }}
					</div>
				</div>
			</div>
			<div class="wp-block-columns columns alignwide">
						<h3 class="alignfull">Other Images</h3>
						{{ range .Params.additional_photos }}
							<div class="column">
								<img class="aligncenter" src="{{ . }}" alt="">
							</div>
						{{end}}
			</div>
		</div><!-- .entry-content -->
	</div><!-- .post-inner -->
</article><!-- .post -->

{{ end }}